* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT CLASSES */
.top-section {
    width: 100vw;
    height: 100px;
}

.bottom-section {
    width: 100vw;
    height: calc(100vh - 100px);
}

.col-1 img {
    width: 100px;
    height: 100px;
}

.sidebar {
    width: 100px;
    height: 100%;
}

.main-content {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: pink;
}

.sidebar-top {
    height: 5%;
}

.sidebar-bottom {
    height: 95%;
    background-image: url(../img/sidebar-bg.png);
}

/* STYLE CLASSES */

.bg-blue {
    background-color: rgba(4, 4, 94, 0.945);
}